# Web Framework
fastapi==0.115.0
uvicorn[standard]==0.30.6
pydantic==2.9.0
python-multipart==0.0.9

# Data Processing (EDA Part-1)
pandas==2.2.2
numpy==1.26.4
scipy==1.13.1

# Testing
requests==2.32.3

# Optional (Future ML phases)
scikit-learn==1.5.1
httpx==0.27.0
python-dotenv==1.0.1
openai==1.65.1
google-generativeai==0.8.4
